<h5>职位 Job Positions</h5>

<h5><li>
		<%= link_to "技术主管－可扩展性搜索，数据挖掘", tech_lead_chn_jobs_path %><br>
		<%= link_to "Technology Lead – Scalable Search and Data Mining", tech_lead_eng_jobs_path %>
	</li>
	
	<li>
		<%= link_to "设计主管－用户界面和用户体验的网页设计", design_lead_chn_jobs_path%><br>
		<%= link_to "Design Lead – User-interface, user-experience website design", design_lead_eng_jobs_path %>
	</li>
	
	<li>
		<%= link_to "时尚营销主管－时尚营销，市场推销，业务开发", fashion_lead_chn_jobs_path%><br>
		<%= link_to "Fashion Lead – Fashion Marketing, Merchandising, and Business Development", fashion_lead_eng_jobs_path %>
	</li>
	
</h5>