<div class="box red"><%= link_to content_tag(:span), root_path %><div class="character">
	<%=link_to "热", root_path%>
</div></div>
<div class="box orange"><%= link_to content_tag(:span), root_path %><div class="character"><%=link_to "潮", root_path%>
</div></div>
<div class="box yellow"><%= link_to content_tag(:span), root_path %><div class="character"><%=link_to "时", root_path%>
</div></div>
<div class="box blue"><%= link_to content_tag(:span), root_path %><div class="character"><%=link_to "尚", root_path%>
</div></div>
