<!DOCTYPE html>
<html>
	<head>
		<title>热潮时尚</title>
		<%= csrf_meta_tag %>
		<%= render 'layouts/stylesheets' %>
		<%= javascript_include_tag :defaults %>
	</head>
	<body>
		
		<section>
			<div class="box red"><%= link_to content_tag(:span), root_path %><div class="character">
				<%= link_to "热", root_path %>
			</div></div>
			<div class="box orange"><%= link_to content_tag(:span), root_path %><div class="character"><%= link_to "潮", root_path%></div></div>
			<div class="box yellow"><%= link_to content_tag(:span), root_path %><div class="character"><%= link_to "时", root_path%></div></div>
			<div class="box blue"><%= link_to content_tag(:span), root_path %><div class="character"><%= link_to "尚", root_path%></div></div>
			
			<h1>本网站正在建设中 The site is under construction</h1>
			Sign up here to receive updates:
			
			<div class="sign_up">
				<%= render 'init_users/signup_form' %>
			</div>
			<div class="messages">
				<%= render 'shared/messages' %>
			</div>
		</section>
	</body>
</html>