<!DOCTYPE html>
<html>
	<head>
		<title>热潮时尚</title>
		<%= csrf_meta_tag %>
		<%= render 'layouts/stylesheets' %>
		<%= javascript_include_tag :defaults %>
	</head>
	<body>
		
		<section>
			<div class="box red"><div class="character">
				热
			</div></div>
			<div class="box orange"><div class="character">潮</div></div>
			<div class="box yellow"><div class="character">时</div></div>
			<div class="box blue"><div class="character">尚</div></div>
			
			<h1>本网站正在建设中 The site is under construction</h1>
			Sign up here to receive updates:
			
			<div class="sign_up">
				<%= render 'init_users/signup_form' %>
			</div>
			<div class="messages">
				<%= render 'shared/messages' %>
			</div>
		</section>
	</body>
</html>